APScheduler==3.11.1
bcrypt==5.0.0
blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.0
colorzero==2.0
decorator==5.2.1
Flask==3.1.2
future==1.0.0
geographiclib==2.1
geopy==2.4.1
gpiozero==2.0.1
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
lgpio==0.2.2.0
MarkupSafe==3.0.3
ratelim==0.1.6
requests==2.32.5
RPi.GPIO==0.7.1
six==1.17.0
tzlocal==5.3.1
urllib3==2.5.0
Werkzeug==3.1.3
