<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Chris Haworth">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href={{styles}}>

	<title>RGB GUI - Home</title>
</head>

<body class="container align-self-center align-content-center">
	<div class="min-vh-100 bg-primary bg-opacity-75" name="index">
		<header class="container align-self-center mt-3 bg-secondary bg-opacity-75">
			<div class="row">
				<div class="col"></div>
				<div class="col text-center">
					<h1>Raspi Garden Bot Web GUI</h1>
				</div>
				<div class="col">
					<form class="text-end me-5 pe-5" name="header-form" method="POST">
						<div>
							<input class="btn btn-sm mt-3 me-5" name="logout" type="submit" value="Logout">
						</div>
						<div>
							<input class="btn btn-sm mt-1 me-5" name="userSettings" type="submit" value="User Settings">
						</div>
					</form>
				</div>
			</div>
			<div class="row mb-3 justify-content-center">
				<nav class="text-center bg-primary w-25">
					<a href={{navurl['index']}}>Home</a>
					<a href={{navurl['config']}}>Config</a>
					<a href={{navurl['waterLog']}}>Water Log</a> 
					{%if session['priv_level'] == 1%}
					<a href={{navurl['admin']}}>Admin</a>
					{%endif%}
				</nav>
			</div>
		</header>

		<div>
			<form method="POST">
				<div class="row">
					<div class="col">
						<div class="row">
							<h3>Irrigation System Initialization</h3>
							<div class="row">
								<p class="col">Enable System: </p>
								{%if data['system_enable']%}
								<input class="col form-check-input" type="checkbox" role="switch" name="system_enable" value="True" checked></br>
								{%else%}
								<input class="col form-check-input" type="checkbox" role="switch" name="system_enable" value="False"></br>
								{%endif%}
							</div>
						</div>
						<div class="row">
							<h3>Weather API Parameters:</h3>
							<div class="row">
								<p class="col">Use Weather API: </p>
								{%if data['use_api']%}
								<input class="col form-check-input" type="checkbox" role="switch" name="use_api" value="True" checked></br>
								{%else%}
								<input class="col form-check-input" type="checkbox" role="switch" name="use_api" value="False"></br>
								{%endif%}
							</div>
							<div class="row">
								<p class="col">City: </p>
								<input class="col" type="text" name="api_city" placeholder="city name" value={{data['api_city']}}></br>
							</div>
							<div class="row">
								<p class="col">State: </p>
								<input class="col" type="text" name="api_state" placeholder="ex: NC, AZ" value={{data['api_state']}}></br>
							</div>
							<div class="row">
								<p class="col">Country: </p>
								<input class="col" type="text" name="api_country" placeholder="ex: USA, UK" value={{data['api_country']}}>		
							</div>
							<div class="row">
								<p class="col">Forecast Days: </p>
								<input class="col" type="text" name="api_forecast_days" placeholder="1-16" value={{data['api_forecast_days']}}>		
							</div>
							<div class="row">
								<p class="col">Water Time: </p>
								<select class="col" type="text" name="water_schedule_hour">
									{%for hour in data['hours']%}
									{% set am_pm = "am" if hour < 12 else "pm" %}
									{% set hour12 = hour % 12 %}
										{% if hour12 == 0 %}
											{% set hour12 = 12 %}
										{% endif %}
										<option value="{{ hour }}" 
											{% if hour|string == data['water_schedule_hour'] %}selected{% endif %}>
											{{ hour12 }}{{ am_pm }}
										</option>
									{% endfor %}
								</select>	
							</div>
							<div class="row">
								<p class="col">Timezone: </p>
								<select class="col" type="text" name="api_timezone">
									{%for timezone in data['timezones']%}

									<option value="{{ timezone }}"
										{% if timezone == data['api_timezone'] %}selected{% endif %}>
										{%if '%2F' in timezone %}
											{{ timezone.split('%2F')[0] }}/
											{% if '_' in timezone.split('%2F')[1]%}
												{{timezone.split('%2F')[1].split('_')[0]}} {{timezone.split('%2F')[1].split('_')[1]}}
											{% else %}
												{{ timezone.split('%2F')[1] }}
											{% endif %}
										{% else %}
											{{timezone}}
										{% endif %}
									</option>
									{%endfor%}
								</select>	
							</div>
							<div class="row">
								<p class="col">Units: </p>
								<select class="col" type="text" name="api_units">
									<option value="Imperial" {{ 'selected' if data['api_units'] == "Imperial" }}>Imperial</option>
									<option value="Metric" {{ 'selected' if data['api_units'] == "Metric" }}>Metric</option>
								</select>	
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<h3>System Parameters:</h3>
							<div class="row">
								<p class="col">Pump Pin: </p>
								<input class="col" type="text" name="pump_pin" placeholder="GPIO Pin #" value={{data['pump_pin']}}></br>
							</div>
							<div class="row">
								<p class="col">Valve Enable Pin: </p>
								<input class="col" type="text" name="valve_enable_pin" placeholder="GPIO Pin #" value={{data['valve_enable_pin']}}></br>
							</div>
							<div class="row">
								<p class="col">Valve Open Pin: </p>
								<input class="col" type="text" name="valve_open_pin" placeholder="GPIO Pin #" value={{data['valve_open_pin']}}></br>
							</div>
							<div class="row">
								<p class="col">Valve Close Pin: </p>
								<input class="col" type="text" name="valve_close_pin" placeholder="GPIO Pin #" value={{data['valve_close_pin']}}></br>
							</div>
							<div class="row">
								<p class="col">Delay Before (Seconds): </p>
								<input class="col" type="text" name="delay_before" placeholder="Seconds" value={{data['delay_before']}}></br>
							</div>
							<div class="row">
								<p class="col">Delay After (Seconds): </p>
								<input class="col" type="text" name="delay_after" placeholder="Seconds" value={{data['delay_after']}}></br>
							</div>
							<div class="row">
								<p class="col">Water Time (Seconds): </p>
								<input class="col" type="text" name="water_time" placeholder="Seconds" value={{data['water_time']}}></br>
							</div>
							<div class="row">
								<p class="col">Max Crops: </p>
								<input class="col" type="text" name="max_crops" placeholder="# of Relays" value={{data['max_crops']}}>	
							</div>	
						</div>
					</div></br>

				<h3>Crops:</h3><br>
				<div class="row row-cols-3">
					{%for crop in data['crop_data']%}
					<div class="col">
						<h4>{{crop[2]}}</h4>
						<div class="row">
							<p class="col">Name: </p>
							<input class="col" type="text" name="crop_name" placeholder="Sector ID" value={{crop[2]}}></br>
						</div>
						<div class="row">
							<p class="col">Pin: </p>
							<input class="col" type="text" name="crop_pin" placeholder="GPIO Pin #" value={{crop[3]}}></br>
						</div>
						<div class="row">
							<p class="col">Incriment: </p>
							<input class="col" type="text" name="crop_rain_inc" placeholder="Rain Incriment" value={{crop[4]}}></br>
						</div>
						<div class="row">
							<p class="col">Enabled: </p>
							{%if crop[1]%}
							<input class="col form-check-input" type="checkbox" role="switch" name="crop_enable_{{crop[2]}}" value="True" checked>
							{%else%}
							<input class="col form-check-input" type="checkbox" role="switch" name="crop_enable_{{crop[2]}}" value="False">
							{%endif%}
						</div>
						<div class="row">
							<p class="col"></p>
							<input class="col" type="submit" id="btnDelete" name="cropDel_{{crop[2]}}" value="Delete">
						</div>
					</div>
					{%endfor%}
					</br>
					{%if addButton == True%}
					<div name="initEnd">
						</br></br><input type="submit" id="btnAdd" name="cropAdd" value="Add New">
					</div>
					{%endif%}
				</div>
				</br></br><input type="submit" id="btnInit" name="cropSave" value="Save">
			</form>
		</div>
	</div>
</body>
</html>
