<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Chris Haworth">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href={{styles}}>

	<title>RGB GUI - Home</title>
</head>

<body class="container align-self-center align-content-center">
	<div class="min-vh-100 bg-primary bg-opacity-75" name="index">
		<header class="container align-self-center mt-3 bg-secondary bg-opacity-75">
			<div class="row">
				<div class="col"></div>
				<div class="col text-center">
					<h1>Raspi Garden Bot Web GUI</h1>
				</div>
				<div class="col">
					<form class="text-end me-5 pe-5" name="header-form" method="POST">
						<div>
							<input class="btn btn-sm mt-3 me-5" name="logout" type="submit" value="Logout">
						</div>
						<div>
							<input class="btn btn-sm mt-1 me-5" name="userSettings" type="submit" value="User Settings">
						</div>
					</form>
				</div>
			</div>
			<div class="row mb-3 justify-content-center">
				<nav class="text-center bg-primary w-25">
					<a href={{navurl['index']}}>Home</a>
					<a href={{navurl['config']}}>Config</a>
					<a href={{navurl['waterLog']}}>Water Log</a> 
					{%if session['priv_level'] == 1%}
					<a href={{navurl['admin']}}>Admin</a>
					{%endif%}
				</nav>
			</div>
		</header>

		<div>
			<form method="POST">
				<div class="row-gap-2">
					<div class="row column-gap-2">
						<div class="col ms-4 pb-3 border border-2 rounded" name="input-group">
							<div class="row">
								<div class="row ms-1 bg-secondary bg-opacity-75">
									<h3>Irrigation System Initialization</h3>
								</div>
								<div class="row form-check form-switch form-check-reverse text-start">
									<label class="col ms-1 form-check-label" for="system_enable">Enable System:</label>
									{%if data['system_enable']%}
									<input class="col me-1 form-check-input" type="checkbox" role="switch" id="system_enable" name="system_enable" value="True" checked>
									{%else%}
									<input class="col me-1 form-check-input" type="checkbox" role="switch" id="system_enable" name="system_enable" value="False">
									{%endif%}
								</div>
							</div>
							<div class="row row-gap-1">
								<div class="row ms-1 bg-secondary bg-opacity-75">
									<h3>Weather API Parameters:</h3>
								</div>
								<div class="row ps-2 pe-4 form-check form-switch form-check-reverse text-start">
									<label class="col form-check-label" for="use_api">Use Weather API: </label>
									{%if data['use_api']%}
									<input class="col form-check-input" type="checkbox" role="switch" id="use_api" name="use_api" value="True" checked></br>
									{%else%}
									<input class="col form-check-input" type="checkbox" role="switch" id="use_api" name="use_api" value="False"></br>
									{%endif%}
								</div>
								<div class="row">
									<label class="col">City: </label>
									<input class="col-3 text-end" type="text" name="api_city" placeholder="city name" value={{data['api_city']}}>
								</div>
								<div class="row">
									<label class="col">State: </label>
									<input class="col-3 text-end" type="text" name="api_state" placeholder="ex: NC, AZ" value={{data['api_state']}}>
								</div>
								<div class="row">
									<label class="col">Country: </label>
									<input class="col-3 text-end" type="text" name="api_country" placeholder="ex: USA, UK" value={{data['api_country']}}>		
								</div>
								<div class="row">
									<label class="col">Forecast Days: </label>
									<input class="col-3 text-end" type="text" name="api_forecast_days" placeholder="1-16" value={{data['api_forecast_days']}}>		
								</div>
								<div class="row">
									<label class="col">Water Time: </label>
									<select class="col-3 text-end" type="text" name="water_schedule_hour">
										{%for hour in data['hours']%}
										{% set am_pm = "am" if hour < 12 else "pm" %}
										{% set hour12 = hour % 12 %}
											{% if hour12 == 0 %}
												{% set hour12 = 12 %}
											{% endif %}
											<option value="{{ hour }}" 
												{% if hour|string == data['water_schedule_hour'] %}selected{% endif %}>
												{{ hour12 }}{{ am_pm }}
											</option>
										{% endfor %}
									</select>	
								</div>
								<div class="row">
									<label class="col">Timezone: </label>
									<select class="col-3 text-end" type="text" name="api_timezone">
										{%for timezone in data['timezones']%}

										<option value="{{ timezone }}"
											{% if timezone == data['api_timezone'] %}selected{% endif %}>
											{%if '%2F' in timezone %}
												{{ timezone.split('%2F')[0] }}/
												{% if '_' in timezone.split('%2F')[1]%}
													{{timezone.split('%2F')[1].split('_')[0]}} {{timezone.split('%2F')[1].split('_')[1]}}
												{% else %}
													{{ timezone.split('%2F')[1] }}
												{% endif %}
											{% else %}
												{{timezone}}
											{% endif %}
										</option>
										{%endfor%}
									</select>	
								</div>
								<div class="row">
									<label class="col">Units: </label>
									<select class="col-3 text-end" type="text" name="api_units">
										<option value="Imperial" {{ 'selected' if data['api_units'] == "Imperial" }}>Imperial</option>
										<option value="Metric" {{ 'selected' if data['api_units'] == "Metric" }}>Metric</option>
									</select>	
								</div>
							</div>
						</div>
						<div class="col me-1 border border-2 rounded" name="input-group">
							<div class="row row-gap-1">
								<div class="row ms-1 bg-secondary bg-opacity-75">
									<h3>System Parameters:</h3>
								</div>
								<div class="row">
									<label class="col">Pump Pin: </label>
									<input class="col-3 text-end" type="text" name="pump_pin" placeholder="GPIO Pin #" value={{data['pump_pin']}}>
								</div>
								<div class="row">
									<label class="col">Valve Enable Pin: </label>
									<input class="col-3 text-end" type="text" name="valve_enable_pin" placeholder="GPIO Pin #" value={{data['valve_enable_pin']}}>
								</div>
								<div class="row">
									<label class="col">Valve Open Pin: </label>
									<input class="col-3 text-end" type="text" name="valve_open_pin" placeholder="GPIO Pin #" value={{data['valve_open_pin']}}>
								</div>
								<div class="row">
									<label class="col">Valve Close Pin: </label>
									<input class="col-3 text-end" type="text" name="valve_close_pin" placeholder="GPIO Pin #" value={{data['valve_close_pin']}}>
								</div>
								<div class="row">
									<label class="col">Delay Before (Seconds): </label>
									<input class="col-3 text-end" type="text" name="delay_before" placeholder="Seconds" value={{data['delay_before']}}>
								</div>
								<div class="row">
									<label class="col">Delay After (Seconds): </label>
									<input class="col-3 text-end" type="text" name="delay_after" placeholder="Seconds" value={{data['delay_after']}}>
								</div>
								<div class="row">
									<label class="col">Water Time (Seconds): </label>
									<input class="col-3 text-end" type="text" name="water_time" placeholder="Seconds" value={{data['water_time']}}>
								</div>
								<div class="row">
									<label class="col">Max Crops: </label>
									<input class="col-3 text-end" type="text" name="max_crops" placeholder="# of Relays" value={{data['max_crops']}}>	
								</div>	
							</div>
						</div></br>
					</div>
					
					<div class="row border border-2 rounded" name="input-group">

						<div class="row bg-secondary bg-opacity-75">
							<h3>Crops:</h3>
						</div>
						<div class="row row-cols-3 row-gap-2 column-gap-2">
							{%for crop in data['crop_data']%}
							<div class="col row-gap-1 border border-2 rounded" name="crop">
								<div class="row">
									<h4>{{crop[2]}}</h4>
								</div>
								<div class="row">
									<label class="col">Name: </label>
									<input class="col" type="text" name="crop_name" placeholder="Sector ID" value={{crop[2]}}></br>
								</div>
								<div class="row">
									<label class="col">Pin: </label>
									<input class="col" type="text" name="crop_pin" placeholder="GPIO Pin #" value={{crop[3]}}></br>
								</div>
								<div class="row">
									<label class="col">Incriment: </label>
									<input class="col" type="text" name="crop_rain_inc" placeholder="Rain Incriment" value={{crop[4]}}></br>
								</div>
								<div class="row form-check form-switch form-check-reverse text-start">
									<label class="col form-check-label" for="crop_enable_{{crop[2]}}">Enabled: </label>
									{%if crop[1]%}
									<input class="col form-check-input" type="checkbox" role="switch" id="crop_enable_{{crop[2]}}" name="crop_enable_{{crop[2]}}" value="True" checked>
									{%else%}
									<input class="col form-check-input" type="checkbox" role="switch" id="crop_enable_{{crop[2]}}" name="crop_enable_{{crop[2]}}" value="False">
									{%endif%}
								</div>
								<div class="row">
									<label class="col"></label>
									<input class="col" type="submit" id="btnDelete" name="cropDel_{{crop[2]}}" value="Delete">
								</div>
							</div>
							{%endfor%}
							</br>
							{%if addButton == True%}
							<div name="initEnd">
								</br></br><input type="submit" id="btnAdd" name="cropAdd" value="Add New">
							</div>
							{%endif%}
						</div>

				
					</div>
				</div>
				</br></br><input type="submit" id="btnInit" name="cropSave" value="Save">
			</form>
		</div>
	</div>
</body>
</html>
