<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Chris Haworth">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href={{styles}}>

	<title>RGB GUI - Home</title>
</head>

<body class="container align-self-center">
	<div class="container align-self-center text-center">
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<h1>Raspi Garden Bot Web GUI</h1>
			</div>
			<div class="col">
				<form method="POST">
					<div>
						<input name="logout" type="submit" value="Logout">
					</div>
					<div>
						<input name="userSettings" type="submit" value="User Settings">
					</div>
				</form>
			</div>
		</div>
		<nav>
			<a href={{navurl['index']}}>Home</a>
			<a href={{navurl['config']}}>Config</a>
			<a href={{navurl['waterLog']}}>Water Log</a> 
			{%if session['priv_level'] == 1%}
			<a href={{navurl['admin']}}>Admin</a>
			{%endif%}
		</nav>
	</div>

	<div>
		<form method="POST">
			<div class="row">
				<div class="col">
					<div class="row">
						<h3>Irrigation System Initialization</h3>
						<div class="row">
							<p class="col">Enable System: </p>
							{%if data['system_enable']%}
							<input class="col" type="checkbox" name="system_enable" value="True" checked></br>
							{%else%}
							<input class="col" type="checkbox" name="system_enable" value="False"></br>
							{%endif%}
						</div>
					</div>
					<div class="row">
						<h3>Weather API Parameters:</h3>
						<div class="row">
							<p class="col">Use Weather API: </p>
							{%if data['use_api']%}
							<input class="col"  type="checkbox" name="use_api" value="True" checked></br>
							{%else%}
							<input class="col"  type="checkbox" name="use_api" value="False"></br>
							{%endif%}
						</div>
						<div class="row">
							<p class="col">City: </p>
							<input class="col" type="text" name="api_city" placeholder="city name" value={{data['api_city']}}></br>
						</div>
						<div class="row">
							<p class="col">State: </p>
							<input class="col" type="text" name="api_state" placeholder="ex: NC, AZ" value={{data['api_state']}}></br>
						</div>
						<div class="row">
							<p class="col">Country: </p>
							<input class="col" type="text" name="api_country" placeholder="ex: USA, UK" value={{data['api_country']}}>		
						</div>
						<div class="row">
							<p class="col">Forecast Days: </p>
							<input class="col" type="text" name="api_forecast_days" placeholder="1-16" value={{data['api_forecast_days']}}>		
						</div>
						<div class="row">
							<p class="col">Water Time: </p>
							<select class="col" type="text" name="water_schedule_hour">
								{%for hour in data['hours_range']%}
								{% set am_pm = "AM" if hour < 12 else "PM" %}
								{% set hour12 = hour % 12 %}
									{% if hour12 == 0 %}
										{% set hour12 = 12 %}
									{% endif %}
									<option value="{{ h }}" {% if h == data['water_schedule_hour']%}selected{% endif %}>
										{{ hour12 }}{{ am_pm }}
									</option>
								{% endfor %}
							</select>	
						</div>
						<div class="row">
							<p class="col">Timezone: </p>
							<select class="col" type="text" name="api_timezone">
								{%for offset in data['timezone_offsets']%}
								{% set sign = "+" if offset >= 0 else "-" %}
								{% set abs_hour = offset | abs %}
								{% set label = "GMT%s%02d:00" % (sign, abs_hour) %}

								<option value="{{ offset }}"
									{% if offset == data['api_timezone'] %}selected{% endif %}>
									{{ label }}
								</option>
								{%endfor%}
							</select>	
						</div>
						<div class="row">
							<p class="col">Units: </p>
							<select class="col" type="text" name="api_units">
								<option value="Imperial" {{ 'selected' if data['api_units'] == "Imperial" }}>Imperial</option>
								<option value="Metric" {{ 'selected' if data['api_units'] == "Metric" }}>Metric</option>
							</select>	
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<h3>System Parameters:</h3>
						<div class="row">
							<p class="col">Pump Pin: </p>
							<input class="col" type="text" class="initForm" name="pump_pin" placeholder="GPIO Pin #" value={{data['pump_pin']}}></br>
						</div>
						<div class="row">
							<p class="col">Valve Enable Pin: </p>
							<input class="col" type="text" class="initForm" name="valve_enable_pin" placeholder="GPIO Pin #" value={{data['valve_enable_pin']}}></br>
						</div>
						<div class="row">
							<p class="col">Valve Open Pin: </p>
							<input class="col" type="text" class="initForm" name="valve_open_pin" placeholder="GPIO Pin #" value={{data['valve_open_pin']}}></br>
						</div>
						<div class="row">
							<p class="col">Valve Close Pin: </p>
							<input class="col" type="text" class="initForm" name="valve_close_pin" placeholder="GPIO Pin #" value={{data['valve_close_pin']}}></br>
						</div>
						<div class="row">
							<p class="col">Delay Before (Seconds): </p>
							<input class="col" type="text" class="initForm" name="delay_before" placeholder="Seconds" value={{data['delay_before']}}></br>
						</div>
						<div class="row">
							<p class="col">Delay After (Seconds): </p>
							<input class="col" type="text" class="initForm" name="delay_after" placeholder="Seconds" value={{data['delay_after']}}></br>
						</div>
						<div class="row">
							<p class="col">Water Time (Seconds): </p>
							<input class="col" type="text" class="initForm" name="water_time" placeholder="Seconds" value={{data['water_time']}}></br>
						</div>
						<div class="row">
							<p class="col">Max Crops: </p>
							<input class="col" type="text" class="initForm" name="max_crops" placeholder="# of Relays" value={{data['max_crops']}}>	
						</div>	
					</div>
				</div></br>

			<h3>Crops:</h3><br>
			<div class="row row-cols-3">
				{%for crop in data['crop_data']%}
				<div class="col">
					<h4>{{crop[2]}}</h4>
					<div class="row">
						<p class="col">Name: </p>
						<input class="col" type="text" class="initForm" name="crop_name" placeholder="Sector ID" value={{crop[2]}}></br>
					</div>
					<div class="row">
						<p class="col">Pin: </p>
						<input class="col" type="text" class="initForm" name="crop_pin" placeholder="GPIO Pin #" value={{crop[3]}}></br>
					</div>
					<div class="row">
						<p class="col">Incriment: </p>
						<input class="col" type="text" class="initForm" name="crop_rain_inc" placeholder="Rain Incriment" value={{crop[4]}}></br>
					</div>
					<div class="row">
						<p class="col">Enabled: </p>
						{%if crop[1]%}
						<input class="col" type="checkbox" class="initForm" name="crop_enable_{{crop[2]}}" value="True" checked>
						{%else%}
						<input class="col" type="checkbox" class="initForm" name="crop_enable_{{crop[2]}}" value="False">
						{%endif%}
					</div>
					<div class="row">
						<p class="col"></p>
						<input class="col" type="submit" class="initForm" id="btnDelete" name="cropDel_{{crop[2]}}" value="Delete">
					</div>
				</div>
				{%endfor%}
				</br>
				{%if addButton == True%}
				<div name="initEnd">
					</br></br><input type="submit" class="mainForm" id="btnAdd" name="cropAdd" value="Add New">
				</div>
				{%endif%}
			</div>
			</br></br><input type="submit" class="mainForm" id="btnInit" name="cropSave" value="Save">
		</form>
	</div>
</body>
</html>
