<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Chris Haworth">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href={{styles}}>

	<title>RGB GUI - Home</title>
</head>

<body class="container align-self-center">
	<div class="container align-self-center text-center">
		<h1>Raspi Garden Bot Web GUI</h1><br>
		<nav>
			<a href={{navurl['index']}}>Home</a>
			<a href={{navurl['init']}}>Initialize</a>
			<a href={{navurl['waterLog']}}>Water Log</a> 
		</nav>
	</div>

	<div class="container align-content-center row">
		<div class="col">
			<h3>Weather Report for {{data['api-city']}}, {{data['api-state']}}, {{data['api-country']}}</h3>
			<p id="weather">
				<table>
					<tr class="row-cols-5">
						<th class="col-2">Date</th>
						<th class="col-2">Time</th>
						<th class="col-2">Status</th>
						<th class="col-2">Precip %</th>
						<th class="col-2">Temp F</th>
					</tr>
					{% for data in data['weather'] %}
					<tr>
						<td>{{ data[1] }}</td>
						<td>{{ data[2] }}</td>
						<td>{{ data[3] }}</td>
						<td>{{ data[4] }}%</td>
						<td>{{ data[5] }} F</td>
					</tr>	
					{% endfor %}
				</table>
			</p>
			{%if data['use-api']%}
			<p>Last rained <b>{{data['last-rain']}}</b> days ago</p>
			{%endif%}
		</div>

		<div class="col">
			<h3>Sectors</h3>
			<p id="sectorTable">
				<table>
					<tr class="row-cols-4">
						<th class="col-2">Crop</th>
						<th class="col-2">Pin</th>
						<th class="col-2">Rain Inc.</th>
						<th class="col-2">Override</th>
					</tr>
					{% for crop in data['cropData'] %}
					<tr>
						<td name="cropName">{{crop[2]}}</td>
						<td name="cropPin">{{crop[3]}}</td>
						<td name="cropInc">{{crop[4]}}</td>
						<td>
						<form method="POST">
							{%if not data['system-enable'] or not bool(crop[1])%}
							<input name="waterNow_{{crop[2]}}"  type="submit" value="Water Now" disabled>
							{%else%}
							<input name="waterNow_{{crop[2]}}"  type="submit" value="Water Now">
							{%endif%}
						</form>
						</td>
					</tr>
					{% endfor %}
				</table>
			</p>
			<form method="POST">
				{%if not data['system-enable']%}
				<input name="waterAll" type="submit" value="Water All" disabled>
				{%else%}
				<input name="waterAll" type="submit" value="Water All">
				{%endif%}
			</form>
		</div>
	</div>
<div name="sysData">
	<h3>System Data</h3>
	<h4>Temperature</h4>
	<table>
	<tr>
	{#
	{% for temp in data['sysData'].sysTemp %}
		<th>{{temp['time'][:-3]}} {{temp['date'][:-5]}}</th>
	{% endfor %}
	#}
	{% for temp in data['sysData'] %}
		<th>{{temp[2][:-3]}} {{temp[1][:-5]}}</th>
	{% endfor %}
	<th>Current<br>{{data['cpuTemp'].time}}</th>
	</tr>
	<tr>
	{#
	{% for temp in data['sysData'].sysTemp %}
		<td>{{temp['temp']}}</td>
	{% endfor %}
	#}
	{% for temp in data['sysData'] %}
		<td>{{temp[3]}}</td>
	{% endfor %}
	<td>{{data['cpuTemp'].temp}}</td>
	</tr>
	</table>
</div>


</body>
</html>
