<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Chris Haworth">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href={{styles}}>

	<title>RGB GUI - Home</title>
</head>

<body>
<section name="centerContent">
<div name="topBar">
	<h1>Raspi Garden Bot Web GUI</h1>
	<nav>
		<a href={{navurl['index']}}>Home</a>
		<a href={{navurl['init']}}>Initialize</a>
		<a href={{navurl['waterLog']}}>Water Log</a> 
	</nav>
</div>

<div name="Sectors">
	<h3>Irrigation System Initialization</h3>
	<p id="initContent">
	<form name="sector" class="sectForm" method="POST">
	<section class="initForm" name="initTop">
		<div>
		{%if sectData['sysEnable']%}
		<p>Enable System: </p><input type="checkbox" class="initForm" name="sysEnable" value="True" checked></br>
		{%else%}
		<p>Enable System: </p><input type="checkbox" class="initForm" name="sysEnable" value="False"></br>
		{%endif%}
		</div></br>
		<div>
		<h3>Weather API Parameters:</h3>
		{%if sectData['use-api']%}
		<p>Use Weather API: </p><input type="checkbox" class="initForm" name="useAPI" value="True" checked></br>
		{%else%}
		<p>Use Weather API: </p><input type="checkbox" class="initForm" name="useAPI" value="False"></br>
		{%endif%}
		<p>City: </p><input type="text" class="initForm" name="apiCity" placeholder="city name" value={{sectData['api-city']}}></br>
		<p>State: </p><input type="text" class="initForm" name="apiState" placeholder="ex: NC, AZ" value={{sectData['api-state']}}></br>
		<p>Country: </p><input type="text" class="initForm" name="apiCountry" placeholder="ex: US, UK" value={{sectData['api-country']}}>
		</div>
		<div>
		<h3>System Parameters:</h3>
		<p>Pump Pin: </p><input type="text" class="initForm" name="pumpPin" placeholder="GPIO Pin #" value={{sectData['pump-pin']}}></br>
		<p>Delay Before (Seconds): </p><input type="text" class="initForm" name="delayBefore" placeholder="Seconds" value={{sectData['delay-before']}}></br>
		<p>Delay After (Seconds): </p><input type="text" class="initForm" name="delayAfter" placeholder="Seconds" value={{sectData['delay-after']}}></br>
		<p>Water Time (Seconds): </p><input type="text" class="initForm" name="waterTime" placeholder="Seconds" value={{sectData['water-time']}}></br>
		<p>Max Sectors: </p><input type="text" class="initForm" name="maxSectors" placeholder="# of Relays" value={{sectData['max-sectors']}}>
		</div>
	</section></br>
	<section class="initForm" name="initSectList">
		<h3>Sectors:</h3>
		{%for sector in sectData['sector']%}
		<div>
			<h4>Sector {{sector['id']}}</h4>
			<p>ID: </p><input type="text" class="initForm" name="sectorID" placeholder="Sector ID" value={{sector['id']}}></br>
			<p>Pin: </p><input type="text" class="initForm" name="sectorPin" placeholder="GPIO Pin #" value={{sector['pin']}}></br>
			<p>Incriment: </p><input type="text" class="initForm" name="sectorInc" placeholder="Rain Incriment" value={{sector['rain-inc']}}></br>
			{%if sector['enabled']%}
			<p>Enabled: </p><input type="checkbox" class="initForm" name="sectorEn_{{sector['id']}}" value="True" checked></br>
			{%else%}
			<p>Enabled: </p><input type="checkbox" class="initForm" name="sectorEn_{{sector['id']}}" value="False"></br>
			{%endif%}
			<input type="submit" class="initForm" id="btnDelete" name="sectDel_{{sector['id']}}" value="Delete">
		</div>
		{%endfor%}
		</br>
		{%if addButton == True%}
		<div name="initEnd">
			</br></br><input type="submit" class="mainForm" id="btnAdd" name="sectAdd" value="Add New">
		</div>
		{%endif%}
		</br></br><input type="submit" class="mainForm" id="btnInit" name="sectInit" value="Initialize">
	</section>
	</form>
	</p>
</div>
</section>
</body>
</html>
