<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Chris Haworth">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href={{styles}}>

	<title>RGB GUI - Home</title>
</head>

<body class="container align-self-center">
	<div class="container align-self-center text-center">
		<h1>Raspi Garden Bot Web GUI</h1><br>
		<nav>
			<a href={{navurl['index']}}>Home</a>
			<a href={{navurl['init']}}>Initialize</a>
			<a href={{navurl['waterLog']}}>Water Log</a> 
		</nav>
	</div>

	<div>
		<form method="POST">
			<div class="row">
				<div class="col">
					<div class="row">
						<h3>Irrigation System Initialization</h3>
						<div class="row">
							<p class="col">Enable System: </p>
							{%if data['system_enable']%}
							<input class="col" type="checkbox" name="system_enable" value="True" checked></br>
							{%else%}
							<input class="col" type="checkbox" name="system_enable" value="False"></br>
							{%endif%}
						</div>
					</div>
					<div class="row">
						<h3>Weather API Parameters:</h3>
						<div class="row">
							<p class="col">Use Weather API: </p>
							{%if data['use_api']%}
							<input class="col" type="checkbox" name="use_api" value="True" checked></br>
							{%else%}
							<input class="col" type="checkbox" name="use_api" value="False"></br>
							{%endif%}
						</div>
						<div class="row">
							<p class="col" >City: </p><input class="col" type="text" name="api_city" placeholder="city name" value={{data['api_city']}}></br>
						</div>
						<div class="row">
							<p class="col" >State: </p><input class="col" type="text" name="api_state" placeholder="ex: NC, AZ" value={{data['api_state']}}></br>
						</div>
						<div class="row">
							<p class="col" >Country: </p><input class="col" type="text" name="api_country" placeholder="ex: US, UK" value={{data['api_country']}}>		
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<h3>System Parameters:</h3>
						<p>Pump Pin: </p><input type="text" class="initForm" name="pump_pin" placeholder="GPIO Pin #" value={{data['pump_pin']}}></br>
						<p>Valve Enable Pin: </p><input type="text" class="initForm" name="valve_enable_pin" placeholder="GPIO Pin #" value={{data['valve_enable_pin']}}></br>
						<p>Valve Open Pin: </p><input type="text" class="initForm" name="valve_open_pin" placeholder="GPIO Pin #" value={{data['valve_open_pin']}}></br>
						<p>Valve Close Pin: </p><input type="text" class="initForm" name="valve_close_pin" placeholder="GPIO Pin #" value={{data['valve_close_pin']}}></br>
						<p>Delay Before (Seconds): </p><input type="text" class="initForm" name="delay_before" placeholder="Seconds" value={{data['delay_before']}}></br>
						<p>Delay After (Seconds): </p><input type="text" class="initForm" name="delay_after" placeholder="Seconds" value={{data['delay_after']}}></br>
						<p>Water Time (Seconds): </p><input type="text" class="initForm" name="water_time" placeholder="Seconds" value={{data['water_time']}}></br>
						<p>Max Crops: </p><input type="text" class="initForm" name="max_crops" placeholder="# of Relays" value={{data['max_sectors']}}>		
					</div>
				</div></br>

			<section class="initForm" name="initSectList">
				{#
				<h3>Sectors:</h3>
				{%for sector in sectData['sector']%}
				<div>
					<h4>Sector {{sector['id']}}</h4>
					<p>ID: </p><input type="text" class="initForm" name="sectorID" placeholder="Sector ID" value={{sector['id']}}></br>
					<p>Pin: </p><input type="text" class="initForm" name="sectorPin" placeholder="GPIO Pin #" value={{sector['pin']}}></br>
					<p>Incriment: </p><input type="text" class="initForm" name="sectorInc" placeholder="Rain Incriment" value={{sector['rain-inc']}}></br>
					{%if sector['enabled']%}
					<p>Enabled: </p>
					<label class="switch">
						<input type="checkbox" class="initForm" name="sectorEn_{{sector['id']}}" value="True" checked>
						<span class="slider"></span>
					</label></br>
					{%else%}
					<p>Enabled: </p>
					<label class="switch">
						<input type="checkbox" class="initForm" name="sectorEn_{{sector['id']}}" value="False">
						<span class="slider"></span>
					</label></br>
					{%endif%}
					<input type="submit" class="initForm" id="btnDelete" name="sectDel_{{sector['id']}}" value="Delete">
				</div>
				{%endfor%}
				#}
				<h3>Crops:</h3>
				{%for crop in data['crop_data']%}
				<div>
					<h4>{{crop[2]}}</h4>
					<p>Name: </p><input type="text" class="initForm" name="crop" placeholder="Sector ID" value={{crop[2]}}></br>
					<p>Pin: </p><input type="text" class="initForm" name="crop_pin" placeholder="GPIO Pin #" value={{crop[3]}}></br>
					<p>Incriment: </p><input type="text" class="initForm" name="crop_rain_inc" placeholder="Rain Incriment" value={{crop[4]}}></br>
					{%if crop[1]%}
					<p>Enabled: </p>
					<label class="switch">
						<input type="checkbox" class="initForm" name="crop_enable_{{crop[1]}}" value="True" checked>
						<span class="slider"></span>
					</label></br>
					{%else%}
					<p>Enabled: </p>
					<label class="switch">
						<input type="checkbox" class="initForm" name="crop_enable_{{crop[1]}}" value="False">
						<span class="slider"></span>
					</label></br>
					{%endif%}
					<input type="submit" class="initForm" id="btnDelete" name="cropDel_{{crop[1]}}" value="Delete">
				</div>
				{%endfor%}
				</br>
				{%if addButton == True%}
				<div name="initEnd">
					
					{#</br></br><input type="submit" class="mainForm" id="btnAdd" name="sectAdd" value="Add New">#}
					</br></br><input type="submit" class="mainForm" id="btnAdd" name="cropAdd" value="Add New">
				</div>
				{%endif%}
			</section>
			{#</br></br><input type="submit" class="mainForm" id="btnInit" name="sectInit" value="Initialize">#}
			</br></br><input type="submit" class="mainForm" id="btnInit" name="cropInit" value="Initialize">
		</form>
	</div>
</body>
</html>
