<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Chris Haworth">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href={{styles}}>

	<title>RGB GUI - Home</title>
</head>

<body class="container align-self-center">
	<div class="container align-self-center text-center">
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<h1>Raspi Garden Bot Web GUI</h1>
			</div>
			<div class="col">
				<form method="POST">
					<div>
						<input name="logout" type="submit" value="Logout">
					</div>
				</form>
			</div>
		</div>
		<nav>
			<a href={{navurl['index']}}>Home</a>
			<a href={{navurl['init']}}>Initialize</a>
			<a href={{navurl['waterLog']}}>Water Log</a> 
		</nav>
	</div>

	<div name="waterLog">
		<h3>Water Log</h3>
		{%if formButtons%}
		<form method="POST">
			<input name= "clear" type="submit" value="Clear Log">
		</form>
		<form method="POST">
			<input name="60daylog" type="submit" value="View 60 Day Log">
		</form>
		{%else%}
		<form method="POST">
			<input name="back" type="submit" value="Back">
		</form>
		{%endif%}
		<ul class="list-group list-group-flush">
			{%for line in waterLog%}
			<li class="list-group-item">{{line[1]}} {{line[2]}} {{line[3]}}</li>
			{%endfor%}
		</ul>
	</div>
</body>
</html>
