//Default Overrides

//Import Bootstrap
@import "../bootstrap/scss/bootstrap";

//Custom Definitions
$custom-colors:(
    "nav-color": $green-500,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

//Header Styles
[name="header-form"] input{
    color: blue;
    text-decoration: underline;
}

[name="header-form"] input:hover{
    color: orange;
    text-decoration: none;
}

header nav a:hover{
    color: orange;
    text-decoration: none;
}

//Index Content Styles
[name="index"] div div table tr{
    height: 30px;
}

[name="crops"] tr td form input{
    width: 95.2333px;
    height: 25px;
    margin: 2px;
    font-size: 14px;
}