//Default Overrides
$primary: #009b72;
$secondary: #255957;

//Import Bootstrap
@import "../bootstrap/scss/bootstrap";

$hyperlink: #97db4f;
$tertiary: #deb986;
$textprimary: #ffc800;
$textsecondary: #ef9cda;

//Custom Definitions
$custom-colors:(
    "hyperlink": $hyperlink,
    "tertiary": $tertiary,
    "textprimary": $textprimary,
    "textsecondary": $textsecondary
);

$theme-colors: map-merge($theme-colors, $custom-colors);

//Header Styles
[name="header-form"] input{
    color: $hyperlink;
    text-decoration: underline;
}

[name="header-form"] input:hover{
    color: $hyperlink;
    text-decoration: none;
}

header nav a{
    color: $hyperlink;
}

header nav a:hover{
    color: $hyperlink;
    text-decoration: none;
}

//Index Content Styles
[name="crops"] tr td form input{
    width: 95.2333px;
    height: 28px;
    margin: 2px;
    font-size: 16px;
}
