//Default Overrides
$primary: #292E31;
$secondary: #244D0D;
$tertiary: #BC6913;
$quaternery: #A02D07;
$quinary: #F4D58D;
$textprimary: #E1E2E0;
$textsecondary: #8D8D8D;

//Import Bootstrap
@import "../bootstrap/scss/bootstrap";

// .table-striped{
//     --bs-table-striped-bg: $quinary;
// }

//Custom Definitions
$custom-colors:(
    "textprimary": $textprimary,
    "tertiary": $tertiary,
    "quaternery": $quaternery,
    "quinary": $quinary
);

$theme-colors: map-merge($theme-colors, $custom-colors);

//General Styles
//Headers
h1{
    color: $textprimary;
}
h3 {
    color: $textprimary;
}

//Hyperlinks
a{
    color: $textprimary;
    margin: auto;
}

a:hover{
    color: $textsecondary;
    text-decoration: none;
    background-color: $textprimary;
}

.table-header{
    background-color: $tertiary;
}

//Body Styles
body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

//Header Styles
// header div div h1{
//     color: $textprimary;
// }

[name="header-form"] input{
    color: $textprimary;
    text-decoration: underline;
}

[name="header-form"] input:hover{
    color: $textsecondary;
    text-decoration: none;
}

// header nav {
//     align-self: center;
// }

//Index Content Styles
[name="tables"] div {
    background-color: $quaternery;
    // color: $textprimary;
}

[name="last-rain"]{
    color: $textprimary;
}

[name="tables"] div table tbody {
}

[name="crops"] tr td form input{
    width: 95.2333px;
    height: 28px;
    margin: 2px;
    font-size: 16px;
}
