//Default Overrides
$primary: #292E31;
$secondary: #244D0D;

//Import Bootstrap
@import "../bootstrap/scss/bootstrap";

$hyperlink: #E1E2E0;
$tertiary: #BC6913;
$quaternery: #A02D07;
$quinary: #F4D58D;

//Custom Definitions
$custom-colors:(
    "hyperlink": $hyperlink,
    "tertiary": $tertiary,
    "quaternery": $quaternery,
    "quinary": $quinary
);

$theme-colors: map-merge($theme-colors, $custom-colors);

//Body Styles
body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

//Header Styles
header div div h1{
    color: $hyperlink;
}

[name="header-form"] input{
    color: $hyperlink;
    text-decoration: underline;
}

[name="header-form"] input:hover{
    color: $hyperlink;
    text-decoration: none;
}

header nav a{
    color: $hyperlink;
}

header nav a:hover{
    color: $hyperlink;
    text-decoration: none;
}

//Index Content Styles
[name="tables"] div {
    background-color: $tertiary;
    // color: $textprimary;
}

[name="last-rain"]{
    // color: $textsecondary;
}

[name="tables"] div table tbody {
    background-color: $tertiary;
}

[name="crops"] tr td form input{
    width: 95.2333px;
    height: 28px;
    margin: 2px;
    font-size: 16px;
}
