//Default Overrides
$primary: #292E31;
$secondary: #244D0D;
$tertiary: #BC6913;
$quaternery: #A02D07;
$quinary: #F4D58D;
$textprimary: #E1E2E0;
// $textsecondary: #8D8D8D;
$textsecondary: $quinary;

//Import Bootstrap
@import "../bootstrap/scss/bootstrap";

//Bootstrap Class Overrides
.table-striped {
    --bs-table-striped-bg: #F4D58D;
    --bs-table-hover-bg: #f5e4bd;
}

//Custom Definitions
$custom-colors:(
    "textprimary": $textprimary,
    "tertiary": $tertiary,
    "quaternery": $quaternery,
    "quinary": $quinary
);

$theme-colors: map-merge($theme-colors, $custom-colors);

//Body Styles
body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:Arial, sans-serif;
}

//General Styles
//Backgrounds
.bg-quaternery {
    background-color: rgba(160, 45, 7, 0.5);
}

//Headers
h1{
    color: $textprimary;
}
h3 {
    color: $textprimary;
}
h4 {
    color: $textprimary;
}

//Text
a{
    $mx: 7px;
    color: $textprimary;
    margin-left: $mx;
    margin-right: $mx;
}

a:hover{
    color: $textsecondary;
    text-decoration: none;
    // background-color: $textprimary;
}

p {
    color: $textprimary;
}

label {
    color: $textprimary;
}

.flash {
    color: $textprimary
}

.flash-error {
    color: $danger;
}

//Tables
.table-quaternery {
    --bs-table-bg: rgba(160, 45, 7, 0.75);
}

.table-quaternery tr th{
    color: $textprimary;
}

.table-quaternery tr td{
    color: $textprimary;
}

//Header Styles
[name="header-form"] input{
    color: $textprimary;
    text-decoration: underline;
}

[name="header-form"] input:hover{
    color: $textsecondary;
    text-decoration: none;
}

//Login Content Styles
//Divs
.login-form {
    max-width: 600px;
    min-height: 400px;
    padding-bottom: 25px;
    background-color: rgba(41, 46, 49, .9);
}

//Index Content Styles
//Divs
[name="sysCharts"]{
    max-width: 1272px;
}

//Tables
[name="tables"] div {
    background-color: rgba(160, 45, 7, 0.5);
}

[name="last-rain"]{
    color: $textprimary;
}

[name="tables"] div table tbody {
}

[name="crops"] tr td form input{
    width: 95.2333px;
    height: 28px;
    margin: 2px;
    font-size: 16px;
}

//Charts
.side-scroll-container{
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.system-chart-container{
    $mx: 10px;
    height: 175px;
    max-width: 1290px;
    margin-left: 10px;
    margin-right: 30px; 
}

.y-axis-container{
    height: 500px;
    width: 150px;
}

.y-axis-chart-container{
    height: 300px;
}

#yAxisChart{
    height: 100%;
    width: 100%;
}

[name="tables"] .weather-container{
    background-color: transparent;
}

[name="tables"] .weather-container .weather-chart-container{
    $mx: 10px;
    height: 300px;
    width: 1000px;
    margin-left: 10px;
    margin-right: 30px; 
    background-color: transparent;
}

#tempChart {
    --line-color: #{$quinary};
    --fill-color: rgba(244, 213, 141, 0.5);
    color: $textprimary;
}

#weatherChart {
    width: 100%;
    height: 100%;
    display: block;
    --temperature-color: rgba(223, 147, 6, 0.959);
    --precipitation-color: rgba(9, 149, 214, 0.959);
    --precipitation-percent-color: rgba(193, 127, 231, 0.959);
    --cloud-cover-color: rgba(170, 173, 170, 1);
    color: $textprimary;
    // background-color: transparent;
}

.weather-table-container{
    max-width: 610px;
}

//Config Content Styles
